---
import HeaderLink from "./HeaderLink.astro";
import ThemeButton from "./ThemeButton.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="flex justify-between py-4 custom-container mx-auto">
    <h2 class="text-lg font-medium uppercase"><a href="/">{SITE_TITLE}</a></h2>
    <div class="flex space-x-4 text-lg">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <ThemeButton />
    </div>
  </nav>
</header>
